{% extends 'base.html' %}

{% block title %}
    Thêm khu vực
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'createMember' %}" enctype="multipart/form-data"
          class="form-horizontal"> {% csrf_token %}
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Thêm mới thành viên</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="form-group">
                    <label for="txtNameMember" class="col-sm-2 control-label">Tên công ty</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtNameMember" required="required"
                               name="txtNameMember" placeholder="Điền tên công ty"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtDescription" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtDescription" name="txtDescription"
                               placeholder="Điền mô tả"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtImages" class="col-sm-2 control-label">Logo</label>
                    <div class="col-sm-10">
                        <input type="file" ref="file" class="form-control" name="txtImages" id="txtImages"
                               required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cbbType" class="col-sm-2 control-label">Loại </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="cbbType" name="cbbType">
                            <option value="True">Thành viên</option>
                            <option value="False">Đối tác</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="{% url 'listMember' %}" class="btn btn-default"> Trở về </a>
                <button type="submit" class="btn btn-info pull-right">Lưu</button>
            </div>
            <!-- /.box-footer -->
        </div>
    </form>
{% endblock %}

