{% extends 'base.html' %}
{% block title %}
    Quản lý bài viết
{% endblock %}

{% block content %}
    <section class="content">
        <div class="box" id="app_posts">
            <div class="box-header">
                <div class="col-sm-3">
                    <a href="{% url 'createPosts' %}" class="btn btn-primary btn-exp">
                        <i class="fa fa-plus-square"></i> Thêm mới
                    </a>
                    {% if messages %}
                        {% for message in messages %}
                            <label class="control-label" {% if message.tags %} {% endif %}><i
                                    class="fa fa-check"></i>{{ message }}</label>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-6">
                <span style="position:relative;color:#3c8dbc;text-align:center;">
                    <b>
                        <h3>Bài viết</h3>
                    </b>
                </span>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div>
                        <form method="get" action="" id="search">
                            <div id="example1_filter" class="dataTables_filter">
                                <input placeholder="Tìm kiếm bài viết..." aria-controls="example1" type="text"
                                       name="search"
                                       value="{{ request.GET.search }}">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div style="overflow:auto">
                            <table id="dataTable" class="table table-bordered table-striped" style="white-space:auto;">
                                <thead>
                                <tr>
                                    <th class="no-sort"></th>
                                    <th>ID</th>
                                    <th>Danh mục</th>
                                    <th>Tiêu đề</th>
                                    <th>Hình đại diện</th>
                                    <th class="no-sort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in listPosts %}
                                    <tr>
                                        <td><input type="checkbox" value="{{ item.id }}"/></td>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.portfolio_posts.name_portfolio_posts }}</td>
                                        <td>{{ item.title }}</td>
                                        {% if item.avatar_posts %}
                                            <td><img style="width:50px; height:50px" src="{{ item.avatar_posts.url }}">
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        <td><a href="{% url 'getPosts' item.id %}"> <i
                                                class="fa fa-fw fa-edit employee-edit action-cursor" data-toggle="modal"
                                                data-target="#modal-default"></i> </a>
                                            <a href="#"> <i data-toggle="modal" data-target="#modal-confirm"
                                                            v-on:click="getPostsDetail ({{ item.id }})"
                                                            class="fa fa-fw fa-remove employee-remove action-cursor"></i></a>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Xóa thành viên</h4>
                            </div>
                            <form method="post" action="{% url 'deletePosts' %}"
                                  enctype="multipart/form-data">{% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <input type="text" name="id_posts" v-model="currentPosts.id"
                                                   hidden="hidden">

                                            <div class="col-sm-10">
                                                <p style="color:red"><b>Bạn muốn xóa bài viết:
                                                    ${currentPosts.title} ?</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng
                                    </button>
                                    <button type="submit" id="delete_user" class="btn btn-primary">Xóa</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <script>
            var app = new Vue({
                el: '#app_posts',
                delimiters: ['${', '}'],
                data: {
                    currentPosts: {},
                },
                watch: {},
                methods: {
                    getPostsDetail: function (id) {
                        this.$http.get('/get_Posts/' + id)
                            .then(function (response) {
                                this.currentPosts = response.data.data[0];
                            })
                    }
                }
            });
        </script>
    </section>
{% endblock %}