<!DOCTYPE html>
<html class="js" lang="vi">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load staticfiles %}
    <script type="text/javascript" async="" src=" {% static 'frontend/js/analytics.js' %}"></script>
    <script>(function (html) {
        html.className = html.className.replace(/\bno-js\b/, 'js')
    })(document.documentElement);</script>
    <title>An Gia Khang</title>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/",
            "ext": ".png",
            "source": {"concatemoji": "http:\/\/www.coteccons.vn\/includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}
        };
        !function (a, b, c) {
            function d(a) {
                var c, d = b.createElement("canvas"), e = d.getContext && d.getContext("2d"), f = String.fromCharCode;
                return e && e.fillText ? (e.textBaseline = "top", e.font = "600 32px Arial", "flag" === a ? (e.fillText(f(55356, 56806, 55356, 56826), 0, 0), d.toDataURL().length > 3e3) : "diversity" === a ? (e.fillText(f(55356, 57221), 0, 0), c = e.getImageData(16, 16, 1, 1).data.toString(), e.fillText(f(55356, 57221, 55356, 57343), 0, 0), c !== e.getImageData(16, 16, 1, 1).data.toString()) : ("simple" === a ? e.fillText(f(55357, 56835), 0, 0) : e.fillText(f(55356, 57135), 0, 0), 0 !== e.getImageData(16, 16, 1, 1).data[0])) : !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var f, g;
            c.supports = {
                simple: d("simple"),
                flag: d("flag"),
                unicode8: d("unicode8"),
                diversity: d("diversity")
            }, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.simple && c.supports.flag && c.supports.unicode8 && c.supports.diversity || (g = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>

    <script src="{% static 'frontend/includes/js/wp-emoji-release.min.js' %}" type="text/javascript"></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="contact-form-7-css"
          href="{% static 'frontend/app/plugins/contact-form-7/includes/css/styles.css' %}" type="text/css"
          media="all">
    <link rel="stylesheet" id="math-captcha-frontend-css"
          href="{% static 'frontend/app/plugins/wp-math-captcha/css/frontend.css' %}"
          type="text/css" media="all">
    <link rel="stylesheet" id="cotec-style-css" href="{% static 'frontend/template/style.css' %}"
          type="text/css" media="all">
    <script type="text/javascript" src="{% static 'frontend/includes/js/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/includes/js/jquery/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'frontend/app/plugins/download-manager/assets/js/front.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'frontend/app/plugins/download-manager/assets/js/chosen.jquery.min.js' %}"></script>
    {#    <link rel="https://api.w.org/" href="http://www.coteccons.vn/wp-json/">#}

    {#    <script>#}
    {#        var wpdm_site_url = 'http://www.coteccons.vn/';#}
    {#        var wpdm_home_url = 'http://www.coteccons.vn/';#}
    {#        var ajax_url = 'http://www.coteccons.vn/wp-admin/admin-ajax.php';#}
    {#    </script>#}


    <style type="text/css">
        .qtranxs_flag_vi {
            background-image: url(http://www.coteccons.vn/app/plugins/qtranslate-x/flags/vn.png);
            background-repeat: no-repeat;
        }

        .qtranxs_flag_en {
            background-image: url(http://www.coteccons.vn/app/plugins/qtranslate-x/flags/gb.png);
            background-repeat: no-repeat;
        }

        .qtranxs_flag_zh {
            background-image: url(http://www.coteccons.vn/app/plugins/qtranslate-x/flags/cn.png);
            background-repeat: no-repeat;
        }

        .qtranxs_flag_ja {
            background-image: url(http://www.coteccons.vn/app/plugins/qtranslate-x/flags/jp.png);
            background-repeat: no-repeat;
        }
    </style>
    {#    <link hreflang="vi" href="http://www.coteccons.vn/?lang=vi" rel="alternate">#}
    {#    <link hreflang="en" href="http://www.coteccons.vn/?lang=en" rel="alternate">#}
    {#    <link hreflang="zh" href="http://www.coteccons.vn/?lang=zh" rel="alternate">#}
    {#    <link hreflang="ja" href="http://www.coteccons.vn/?lang=ja" rel="alternate">#}
    {#    <link hreflang="x-default" href="http://www.coteccons.vn/" rel="alternate">#}
    {#    <link rel="profile" href="http://gmpg.org/xfn/11">#}

    <!-- base href="http://www.coteccons.vn/" -->
    {#    <link rel="shortcut icon" href="http://www.coteccons.vn/favicon.ico" type="image/x-icon">#}
    {#        <link rel="icon" href="http://www.coteccons.vn/favicon.ico" type="image/x-icon">#}
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/owl.theme.css' %}" rel="stylesheet">
</head>
<body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-37477915-15"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-37477915-15');
</script>
<section class="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="logo os-tuyendart w3danima">
                    <a href="#"><img style="width: 350px; height: 70px" src="{% static 'frontend/images/logo.png' %}"
                                     alt="Logo An Gia Khang"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6">
                <div class="row os-tuyendart w3danima">
                    <h2 class="slogan"></h2>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="lang">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="{% static 'frontend/app/plugins/qtranslate-x/flags/vn.png' %}"
                                     alt="Tiếng Việt">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'frontend/app/plugins/qtranslate-x/flags/gb.png' %}" alt="English">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'frontend/app/plugins/qtranslate-x/flags/cn.png' %}" alt="中文">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'frontend/app/plugins/qtranslate-x/flags/jp.png' %}" alt="日本語">
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="search">
                    <div class="bsearch">

                        <form role="search" method="get" class="search-form" action="#">
                            <input class="input-sm" maxlength="64" placeholder="Tìm kiếm …" name="s" title="Tìm kiếm"
                                   type="search">
                            <button type="submit" class="btn btn-primary btn-sm">Tìm kiếm</button>
                        </form>
                        <br clear="all">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="nav" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active "><a href="{% url 'showIndex' %}">Trang chủ </a></li>
                            <li class="dropdown mega-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dự án <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu mega-dropdown-menu row">
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header">Theo Dự Án</li>
                                            {% for projects in listPortfolioProject %}
                                                <li class="mn_custom_sub"><a
                                                        href="{% url 'showListProjectByIdProject' projects.id %}">{{ projects.name_portfolio_project }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header">Theo Thời Gian</li>
                                            <li class="mn_custom_sub"><a
                                                    href="{% url 'showListProjectByYear' 2019 %}">2019</a></li>
                                            <li class="mn_custom_sub"><a
                                                    href="{% url 'showListProjectByYear' 2018 %}">2018</a></li>
                                            <li class="mn_custom_sub"><a
                                                    href="{% url 'showListProjectByYear' 2017 %}">2017</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header">Theo Vị Trí</li>
                                            {% for area in listArea %}
                                                <li class="mn_custom_sub"><a
                                                        href="{% url 'showListProjectByArea' area.id %}">{{ area.name_area }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header">Theo tiến độ</li>
                                            <li class="mn_custom_sub"><a
                                                    href="{% url 'showListProjectByStatus' 1 %}">Hoàn thành</a></li>
                                            <li class="mn_custom_sub"><a
                                                    href="{% url 'showListProjectByStatus' 0 %}">Đang thi công</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            {% for item in listPortfolioPosts %}
                                {% if item.id in listSubMenu %}
                                    <li class="dropdown "><a href="#" class="dropdown-toggle"
                                                             data-toggle="dropdown">{{ item.name_portfolio_posts }}
                                        <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            {% for submenu in listPortfolioPosts %}
                                                {% if submenu.id_parent == item.id %}
                                                    <li class=""><a
                                                            href="{% url 'showListPostByIdPortfolio' submenu.id %}">{{ submenu.name_portfolio_posts }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% elif item.id_parent == 0 %}
                                    <li class=" "><a
                                            href="{% url 'showListPostByIdPortfolio' item.id %}">{{ item.name_portfolio_posts }} </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<br clear="all">
<script type="text/javascript" src="{% static 'frontend/js/landmark/jssor.slider-24.1.5.min.js' %}"></script>
{% if isProjectDetail %}
    <link rel="stylesheet" href="{% static 'frontend/css/jquery.desoslide.css' %}">
    <link rel="stylesheet" type="text/css"
          href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/js/fullscreen/css/slideshow.css' %}">
{% endif %}

{% block content %}
{% endblock %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="title">
                    <h3>Công ty thành viên</h3>
                </div>
                <div id="owl-demo2" class="owl-carousel">
                    {% for member in listMember %}
                        {% if member.type %}
                            <div class="item col-xs-11" style="padding:0px 7px;"><img
                                    src="{{ member.avatar_member.url }}" alt="FCC"/></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 os-tuyendart">
                <div class="title">
                    <h3><p>Đối tác chiến lược</p></h3>
                </div>
                <div id="owl-demo3" class="owl-carousel">
                    {% for member in listMember %}
                        {% if member.type == False %}
                            <div class="item col-xs-11" style="padding:0px 7px;"><img
                                    src="{{ member.avatar_member.url }}" alt="FCC"/></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 bgopa">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h4>Liên hệ</h4>
                    <div class="some-content-related-div">
                        <div class="slimScrollDiv"
                             style="position: relative; overflow: hidden; width: auto; height: 150px;">
                            <div id="inner-content-div" style="overflow: hidden; width: auto; height: 150px;">
                                <h5>CÔNG TY CỔ PHẦN THIẾT KẾ VÀ XÂY DỰNG AN GIA KHANG</h5>
                                <ul class="list-f lienhe-f">
                                    <li>Trụ sở: 340/46 Quang Trung, P. 10, Q.Gò Vấp, TP. HCM</li>
                                    <li>Chi nhánh: Tổ 1, Áp Đường Bào, Xã Dương Tơ,
                                        Huyện Phú Quốc, Tỉnh Kiên Giang
                                    </li>
                                    <li>Điện thoại: 08.3989.7088 Hotline: 0909.54.8888
                                    </li>
                                    <li><strong>Email:</strong> <a href="mailto:lienhe@angiakhang.vn">lienhe@angiakhang.vn</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="slimScrollBar"
                                 style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 49.1468px;"></div>
                            <div class="slimScrollRail"
                                 style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="text-left"><span>Copyright © 2018 An Gia Khang. All rights reserved. </span></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="text-right">
                    <a href="#" target="_blank"><img src="{% static 'frontend/app/uploads/2016/05/16/portal.png' %}"
                                                     alt="portal"></a> &nbsp;
                    <a href="#" target="_blank"><img src="{% static 'frontend/app/uploads/2016/05/15/email-icon.png' %}"
                                                     alt="Mail An Gia Khang"></a> &nbsp;
                    <a href="#" target="_blank"><img src="{% static 'frontend/app/uploads/2016/04/yt.jpg' %}"
                                                     class="alignnone wp-image-549 size-full" alt="yt"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sub_top" style="display: block;"><a href="#"><img src="{% static 'frontend/images/btn_top_off.png' %}"
                                                              alt="top"></a></div>
<script type="text/javascript"
        src="{% static 'frontend/app/plugins/contact-form-7/includes/js/jquery.form.min.js' %}"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var _wpcf7 = {
        "loaderUrl": "http:\/\/www.coteccons.vn\/app\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        "recaptchaEmpty": "Please verify that you are not a robot.",
        "sending": "\u0110ang g\u1eedi ..."
    };
    /* ]]> */
</script>
<script type="text/javascript" src="{% static 'frontend/app/plugins/contact-form-7/includes/js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/template/js/skip-link-focus-fix.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/includes/js/wp-embed.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.min.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontend/js/w3danima.js' %}"></script>
<script src="{% static 'frontend/js/owl.carousel.js' %}"></script>
<script src="{% static 'frontend/js/jquerys.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery-ui.js' %}"></script>
<script src="{% static 'frontend/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.hc-sticky.js' %}"></script>
{% if isIndex %}
    <script src="{% static 'frontend/js/footer-homepage.js' %}"></script>
{% endif %}

<script src="{% static 'frontend/js/footer-not-homepage.js' %}"></script>
<script src="{% static 'frontend/js/custom-footer.js' %}"></script>
<script type="text/javascript">
    var read_more = "Xem thêm";
</script>

{% if isProjectDetail %}
    <style type="text/css">
        .fa-3x {
            font-size: 1em !important;
        }
    </style>
    <script src="{% static 'frontend/js/fullscreen/js/gallery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/js/pretty/css/prettyPhoto.css' %}" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8">
    <script src="{% static 'frontend/js/pretty/js/jquery.prettyPhoto.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var count = $("#portfolio-thumbs li").size();
            if (count <= 1) {
                $('#prev-btn').hide();
                $('#next-btn').hide();
            }
            $("area[rel^='prettyPhoto']").prettyPhoto({social_tools: false});
            $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({
                animation_speed: 'normal',
                theme: 'light_square',
                slideshow: 3000,
                autoplay_slideshow: false,
                social_tools: false
            });

        });
    </script>
{% endif %}

</body>
</html>